<html>
<body>
<h1>Voice Evaluation (Sample 1)</h1>
<p>
    Start the meditation, by either closing your eyes or softening your eyes <br>
    And then bring your attention to the in-out sensations of your breath <br>
    Breathing in, just know you're breathing in And when you breathe out, just know you're breathing out <br>
    Breathing in, and breathing out <br>
    Now, expand your sensations to the entire body <br>
    And just notice, do you feel tension anywhere? Or itching? Or pulsing? Or pressure? Or heaviness?
</p>
<h3>Please play the following audio and answer the evaluation questions </h3>
<audio controls>
  <source src="sample1.mp3" type="audio/mpeg">
</audio>
<h3>Click 'Next' to evaluate the next voice:</h3>
<div>
    <form action="/next">
        <p><input type="Submit" value="Next"></p>
    </form>
</div>

</body>
</html>
